{% load general_tags %}

<tr width="640" align="left" valign="top">
    <td>
        <h2 style="padding-left: 100px; margin-bottom: 35px;">{{ 'about_the'|translate:language }}<br><strong style=" border-bottom: 8px solid #39FFB6;">Smarthis Hub</strong></h2>
        <p style="padding-left: 100px; padding-right: 100px; font-size: 22px;">{{ 'smarthis_hub_is_a_smarthis_platform_that_seeks'|translate:language }}.</p>
        <p style="padding-left: 100px; padding-right: 100px; font-size: 22px; margin-bottom: 70px;">{{ 'we_take_digital_transformation_to_several_areas'|translate:language }}.</p>
    </td>
</tr>