{% load general_tags %}
            <!-- CONTATO -->
            <tr width="640" align="right" valign="top">
                <td style="background-color: #F2F2F2; padding: 30px; margin-top: 140px; background-image: url('https://i.imgur.com/sNtD0Q0.png'); background-position: 0% 35%; background-repeat: no-repeat; background-size:contain;background-origin: content-box;">
                    <h3 style="text-align: right; padding-top: 10px; font-size: 22px; margin-bottom: 0;"><strong>{{ 'questions_interrogation'|translate:language }}</strong></h3>
                    <p style="text-align: right; padding-bottom: 10px;">{{ 'contact_us_by'|translate:language }} <br> <strong>{{ 'hub_contact_email'|translate:language }}<strong></p>
                </td>
            </tr>
            <!-- FOOTER -->
            <tr width="640" align="left" valign="top" style="background-color: #39FFB6;">
                <td style="padding: 24px;">
                    <ul style="display: inline; list-style-type: none;">
                        <li><a href="https://hub.smarthis.com.br/"><img src="https://i.imgur.com/3xsRi0l.png" alt="logo do smarthis hub" style=""></a></li>
                        <li><a href="https://smarthis.com.br/"><img src="https://i.imgur.com/oHrDmdI.png" alt="site da smarthis" align="right" style="margin-right: 8px;"></a></li>
                        <li><a href="https://www.instagram.com/smarthis.ai/"><img src="https://i.imgur.com/C4yyXKh.png" alt="instagram" align="right" style="margin-right: 8px;"></a></li>
                        <li><a href="https://www.linkedin.com/company/smarthis/"><img src="https://i.imgur.com/69ygDef.png" alt="linkedin" align="right" style="margin-right: 8px;"></a></li>
                    </ul>

                </td>
            <tr>
        </table>
    </body>
</html>