{% load general_tags %}

{% include 'email_templates/default/header.html' %}
    <tr>
      <td width="640" align="left" valign="top">
          <h3 style="font-size: 26px; margin-bottom: 0;margin-top:16px;">
            <strong>{{ "hello"|translate:language }}, {{user.get_full_name}}</strong>
          </h3>
          <p style="font-size: 22px; margin-bottom: 0;">
            {{ 'your_free_trial_started_exclamation'|translate:language }} 
          </p>

          <p style="font-size: 22px; margin-bottom: 0;">
            {{ "in_the_next_14_days_enjoy_hub"|translate:language }} 
          </p>
          <p style="font-size: 22px;">
            {{"click_on_the_button_bellow_to_complete_register"|translate:language }} 
          </p>

          {% include 'email_templates/default/emailButton.html' with button_text="confirm_email"|translate:language button_link=link %}
          
          <h2 style="margin-top: 4px; font-size: 22px; margin-bottom: 0px;"><strong>{{ 'how_to_begin'|translate:language }}</strong></h2>
          <div style="height: 12px; background-color:#39FFB6; border-radius: 20px; width: 300px; margin-top: 0px; margin-bottom: 30px;"></div><!-- pseudosublinhado -->

          <p style="font-size: 22px;">
            {{ "here_are_some_tips_lets_check"|translate:language }}
          </p>

          {% include 'email_templates/default/emailButtonSecondary.html' with button_text="check_tips"|translate:language button_link="https://smarthis-hub.s3.amazonaws.com/TUTORIAL_HUB.pdf" %}

          <p style="font-size: 22px;">
            {{"if_you_have_questions_reply_email_..."|translate:language }} 
            <a href="https://calendly.com/guilherme-favoreto-smarthis">{{"by_clicking_here"|translate:language}}</a>
          </p>

          <h2 style="margin-top: 4px; font-size: 22px;margin-bottom: 0px;"><strong>{{ "only_with_hub_you"|translate:language }}</strong></h2>
          <div style="height: 12px; background-color:#39FFB6; border-radius: 20px; margin-top: 0px; width: 300px; margin-bottom: 30px;"></div><!-- pseudosublinhado -->

          <ul style="text-align: left; font-size: 20px; margin-bottom: 30px; margin-top: 0px;margin-left:0px; list-style-type: none;">
            <li>- {{ "gain_more_freedom_to_focus_on_strategic_tasks"|translate:language }}. </li>
            <li>- {{ "enjoy_ready_made_solutions_for_different_areas_of_expertise"|translate:language }} </li>
            <li>- {{ "minimizes_errors_and_avoids_delays"|translate:language }}. </li>
            <li>- {{ "centralizes_tasks_and_results"|translate:language }}. </li>
          </ul>
      </td>
    </tr>
{% include 'email_templates/default/footer.html' %}
