{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      font-family: 'Calibri', sans-serif;
      background-color: white;
      color: #333;
      font-size: 11pt;
    }
  </style>
</head>

<body>
  <p>Olá, {{user_reset.get_full_name}}. </p>
  <p>
    Você solicitou a recuperação de senha para o <b>Smarthis Hub</b>.</p>
  <p>
    Para alterar a senha siga o link abaixo:<br>
    <a href="{{link}}">{{link}}</a>
  </p>

  <p>Se não deseja alterar sua senha basta ignorar essa mensagem.</p>

  <p>Qualquer dúvida fique a vontade para entrar em contato, nossa equipe estará a disposição.</p>
  <br>
  Abraços,<br>
  --<br>

  <b>
    <span style="color: rgb(0,51,51); font-size: 12pt; font-family: 'Calibri Light', sans-serif;">
      Equipe Smarthis Hub
    </span>
  </b><br>
  <a href="mailto:hub-contato@smarthis.com.br">hub-contato@smarthis.com.br</a><br>
  <img src="{{ protocol}}://{{ domain }}{% static 'dashboard/img/logo-smarthis-site.png' %}" alt="" class="logo-on-form"><br>
  <a href="https://hub.smarthis.com.br">hub.smarthis.com.br</a>
  <br>



</body>

</html>