{% load general_tags %}

{% include 'email_templates/default/header.html' %}
    <tr>
      <td width="640" align="left" valign="top">
          <h3 style="font-size: 26px; margin-bottom: 0;margin-top:16px;">
            <strong>{{ "hello"|translate:language }}, {{ user.first_name }}</strong>
          </h3>
          <p style="font-size: 22px; margin-bottom: 0;">
            {{ "we_hope_you_are_enjoying_your_trial_period"|translate:language }} 
          </p>

          <p style="font-size: 22px; margin-bottom: 0;">
            {{ "you_still_have"|translate:language }} 
            <strong>{{number_of_days_left}} 
                {% if number_of_days_left == 1 %}
                {{"day"|translate:language}}
                {% else %}
                {{"days"|translate:language}}
                {% endif %}
            </strong>
            {{  "to_continue_discovering_advantages"|translate:language }} 
            <a href="{{hub_url}}">{{"by_clicking_here"|translate:language}}</a>
            {{ "to_continue_transforming_the_way_you_work"|translate:language }} 
          </p>
          
          <h2 style="margin-top: 4px; font-size: 22px; margin-bottom: 0px;"><strong>{{ "can_we_help"|translate:language }}</strong></h2>
          <div style="height: 12px; background-color:#39FFB6; border-radius: 20px; width: 300px; margin-top: 0px; margin-bottom: 30px;"></div><!-- pseudosublinhado -->

          <p style="font-size: 22px;">
            {{ "how_about_scheduling_a_conversation_..."|translate:language }}
          </p>

          {% include 'email_templates/default/emailButton.html' with button_text="schedule_a_conversation"|translate:language button_link="https://calendly.com/guilherme-favoreto-smarthis" %}

          <p style="font-size: 22px;">
            {{"if_you_have_questions_reply_email"|translate:language }} 
          </p>

          <div style="background-image: url(https://i.imgur.com/CzjVqq9.png);"></div>
      </td>
    </tr>
{% include 'email_templates/default/footer.html' %}
