{% load general_tags %}
<section class="empty_data d-flex">
    <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-between m-5 py-5 backgroundf7f7f7 text-center">
        <div>
            <strong>{{ 'all_sub_processes_were_registered'|translate:language }}.</strong>
            <p>{{ 'now_your_dashboard_will_bring'|translate:language }}.</p>
            <button type="button" value="new" class="open_dashboard btn btn_smarthis mt-0">{{ 'go_to_dashboard'|translate:language }}</button>
        </div>
    </div>
</section>