<!--users/templates/registration/password_reset_confirm.html-->

{% extends 'login_base.html' %}

{% block content %}

<form method="post" class="card form-signin">
    {% csrf_token %}

      
<div class="text-center mb-4">
  <h1 class="h3 mb-3 font-weight-lighter"></h1>
  {% load static %}
  <img src="{% static 'dashboard/img/LogoSmarthisHub.png' %}" alt="Smarthis Hub Logo" class="logo-on-form"> 
</div>

<center>
  <b>Confirm password reset</b>
</center>
<br>
{{ form.as_p}}
{% if form.errors %}
  <div style="margin-bottom: 15px;">
    <div class="alert alert-danger" role="alert">
      <strong>Access Denied!</strong>
      Your username and password must match and fullfill all requirements. 
      Please try again.
    </div>
  </div>
{% endif %}
  <hr>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
</form>
<style>
    h1 {
      font-weight: lighter;
    }
    .card {
      box-shadow: 0px 0px 25px #444444;
      border-radius: 1rem;
    }

    .form-signin {
      width: 100%;
      max-width: 800px;
      padding: 1rem;
      margin: 1rem auto;
      display: flex;
      flex-direction:column;
    }
    label {
      display: block;
      margin-bottom: 0;
    }
    input {
      width: 50%;
    }
  </style>
{% endblock %}

