{% extends 'login_base.html' %}

{% block content %}

<div class="card form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-lighter"></h1>
    {% load static %}
    <img src="{% static 'dashboard/img/LogoSmarthisHub.png' %}" alt="" class="logo-on-form"> 
  </div>

  <center>
    <b>Password Reset Complete</b>
  </center>
  <br>
  <hr>
  <a class="btn btn-sm btn-link" href="{% url 'login' %}">Back to login</a>
  </div>

  <style>
  body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
</style>
  
{% endblock %}