{% load static %} {% load general_tags %}
<section class="box-empty--analises">
    <img src="{% static "/img/logo_analise_negocio.png" %}" class="img_analise-negocio"  alt="Woman typing">
    <div class="ml-5 brancocolor">
        <p class="m-0 f-size-32 "><strong>{{ 'what_analytics_impact_your_business'|translate:language }}</strong></p>
        <p class="m-0 f-size-15 text-box_empty-analises">{{ 'we_seek_to_improve_our_work_and_offer_more_solutions_to_our_customers'|translate:language }}</p>
        <p class="m-0 f-size-15"><strong>{{ 'hub_contact_email'|translate:language }}</strong>
    </div>
</section> 
