{% load static %} {% load general_tags %}

<footer class="home__footer">
	<div class="padding_conditions pt-5 px-5 pb-3 d-flex flex-column gap-16">
		<section class="top_content w-100 d-flex">
			<div class="home__footer-left_content pr-3">
				<img class="home__footer-image my-3" src="{% static 'img/hub_verde_2.svg' %}" />
				<div class="home__footer-text-smarthis f-size-14">
					<span>
                        <strong>Smarthis Hub </strong>{{'takes_care_of_your_repetitive_tasks_so_you_can_focus_on_what_matters'|translate:language }}
					</span>
				</div>
			</div>
			<div class="home__footer-right_content d-flex ml-4 pl-2 pt-5">
				<div class="brancocolor">
					<p> <strong class="f-size-18 text-uppercase">Hub</strong></p>
					<a class="no__link link_api-footer" href="{% url 'services' %}" target="_blank"><p class="f-size-14">{{ 'services'|translate:language }}</p></a>
					<a class="no__link link_api-footer" href="{% url 'discover' %}" target="_blank"><p class="f-size-14">{{ 'discover'|translate:language }}</p></a>
					<a class="no__link link_api-footer" href="{% url 'dashboard' %}" target="_blank"><p class="f-size-14">Dashboard</p></a>
				</div> 
				<div class="brancocolor">
					<p> <strong class="f-size-18 text-uppercase">{{'support'|translate:language }}</strong></p>
					<a class="no__link link_api-footer" href="{% url 'help_center' %}" target="_blank"><p class="f-size-14">{{ 'help_center'|translate:language }}</p></a>
					<a class="no__link link_api-footer" href="https://jivo.chat/Gwz3I0tvDX" target="_blank"><p class="f-size-14">{{ 'contact'|translate:language }}</p></a>
				</div> 
				<div class="brancocolor">
					<p> <strong class="f-size-18 text-uppercase">{{ 'privacy'|translate:language }}</strong></p>
					<a class="no__link link_api-footer" href="{% static 'instructions/Politica_de_Privacidade.pdf' %}" target="_blank"> 
						<p class="f-size-14">{{ 'privacy_policy'|translate:language }}</p>  
					</a>
					<a class="no__link link_api-footer" href="{% static 'instructions/Termos_de_uso.pdf' %}" target="_blank" >
						<p class="f-size-14">{{ 'terms_of_use'|translate:language }}</p>
					</a> 
				</div>
			</div>
		</section>
		<section class="developed_by w-100 d-flex justify-content-start align-items-end gap-16">
			<div>
				<p class="f-size-13 brancocolor mb-0">{{ 'developed_by'|translate:language }}</p>
				<img class="name-smarthis__footer" src="{% static 'img/smarthis_verde_2.svg' %}" height="45" />
			</div>
			<a href="https://www.instagram.com/smarthis.ai/" target="_blank" >
				<img src="{% static 'img/logo_instagram.png' %}" />
			</a>
			<a href="https://br.linkedin.com/company/smarthis" target="_blank" >
				<img src="{% static 'img/logo_linkedln.png' %}" />
			</a>
		</section>
	</div>
	<div class="home__footer-line w-100 d-flex justify-content-between">
		<div class="home__footer-text f-size-12">
			<p>
				<strong>Smarthis Hub {% now "Y" %}</strong>
				| {{ 'all_rights_reserved'|translate:language }}
			</p>
		</div>
		<div class="ilustracao-text">
			<p class="f-size-10">{{ 'illustration_by'|translate:language }}<span class="decoration-text__footer">Aleksey Chizhikov.</span></p>
		</div>
	</div>
</footer>
