{% load static %}
{% load general_tags %}
{% load dashboard_tags %}
<div id="robots_tab" class="dashboard_tab active">

    <div class="d-flex justify-content-between align-items-start">
        <div class="jsDashboardTitleAndDateContainer">
            <p class="title color000000 f-size-26 mb-0 font-weight-bold">{{ 'occupation_and_executions'|translate:language }}</p>
            <p class="period f-size-13 mb-1"></p>
        </div>

        <button class="btn d-flex align-items-center white-bg small gap-8" data-toggle="modal" data-target="#dashboard-modal" data-modal="robots_tab_modal">
            {% include 'icons/info-circle-white.svg' %}
            {{ 'how_does_it_works'|translate:language }}
        </button>
    </div>




    {% include 'dashboard/components/resumed_infos.html' with tab='robots_tab' title='operation_performance'|translate:language %}
    <div class="charts w-100 o-hidden">
        <div class="d-flex flex-column gap-16">
            <div class="topline d-flex justify-content-between gap-16">
                {% include 'dashboard/components/dashboard_single.html' with title='robot_utilization_per_hour'|translate:language header_data_selected='day' header_select_id='robot-occupation-time-band-select-order' graph_id='average_occupation_byhour' select_options=all_select_options|get_obj_attr:'robot-occupation-time-band-select-order' plot_classes='canvas-special' legend_blue='general_rate'|translate:language legend_class='legend_graphic_area' %}

                {% include 'dashboard/components/dashboard_status.html' with graph_id='process_bystatus' title='executed_processes'|translate:language title_class='mb-0 light-bold' %}
            </div>
            {% include 'dashboard/components/dashboard_single.html' with title='robot_utilization_rate'|translate:language header_label_name='view_by'|translate:language header_data_selected='day' header_select_id='all-occupation-robot-select-order' graph_id='houriddleness_byday' select_options=all_select_options|get_obj_attr:'all-occupation-robot-select-order' %}
        </div>
    </div>
</div>

<script src="{% static 'dashboard/js/dashboardRobotsTab.js' %}"></script>