{% extends 'base.html' %}{% load static %} {% load general_tags %}
{% block content %}
    <nav class="header_api">
        <a class="logo no__link f-size-22 ">
            <img class="logo_smarthis_api" src="{% static "dashboard/img/LogoSmarthisHub.png" %}" alt="Smarthis Hub Logo" />
            | {{ 'api_for_development'|translate:language }}
        </a>
        <input class="menu-btn_api" type="checkbox" id="menu-btn_api" />
        <label class="menu-icon_api" for="menu-btn_api"><span class="navicon_api"></span></label>
        <ul class="menu_api__hub color000000">
            <li><a class="no__link" href="#home">{{ 'home_start'|translate:language }}</a></li>
            <li><a class="no__link" href="#work">{{ 'documentation'|translate:language }}</a></li>
            <li><a class="no__link" href="#Issues">Issues</a></li>
            <li><a class="no__link" href="#contact">{{ 'contact'|translate:language }}</a></li>
        </ul>
    </nav>
    {% include "hub_api/api_content.html" %}
{% endblock %}


